@charset "UTF-8";
html, body {
	background-color: #ffffff; 
	color: #303030;
}
body {
	padding-top: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
.title {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
}
p {
	font-size: 14px;
	line-height: 1.5;
	display: block;
}
b { 
	font-size: large;
}
h2 {
	color: #039be5;
	line-height: 0;
	text-align: center;
}
date {
	margin-top: 2px;
	font-family: monospace;
	font-size: 12px;
	font-style: italic;
	float: right;
}
wbase {
	font-size: 14px;
	float: left;
	background-color: #ffab91;
	color: #ffffff;
	font-weight: bold;
}
new, wbase, fix {
	padding: .1rem .4rem; border-radius: .25rem;
}
new { 
	color: #4f6e33;
	background-color: #e9f3e5;
} 
fix{ 
	color: #1565c0;
	background-color: #bbdefb;
}